.container {
  font-family: 'Determination Mono', 'Courier New', monospace;
}

.container::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 21px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #fff;
}
