@import '@fontsource/vt323';
@import 'tailwindcss';
@import './globals.css';

@layer base {
  body {
    @apply bg-background;
  }
}

.sidebar-scroll {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  transition: scrollbar-color 0.3s ease;
}

.sidebar-scroll:hover {
  scrollbar-color: var(--color-primary) transparent;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.sidebar-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
  transition: background 0.3s ease;
}

@layer utilities {
  .arrow-down::after {
    position: absolute;
    bottom: -7px;
    left: 30px;
    width: 0;
    height: 0;
    content: '';
    border-top: 7px solid var(--color-foreground);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}
