@import '@fontsource/vt323';
@import '@fontsource/space-grotesk';
@import 'tailwindcss';
@import './globals.css';
@import './scrollbar.css';

@layer base {
  body {
    @apply bg-background;
  }
}

@layer utilities {
  .arrow-down::after {
    position: absolute;
    bottom: -7px;
    left: 30px;
    width: 0;
    height: 0;
    content: '';
    border-top: 7px solid var(--color-foreground);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}
